.user-profile {
  height: 215px;
  margin: 1% auto 3%;
  background-color: #FFFFFF;
  box-shadow: 0px 7px 20px grey;
  border-radius: 5px;
}

.user-icon {
  width: 160px;
  height: 160px;
  margin: 3% auto;
  margin-left: 25px;
  float: left;
  position: relative;
  padding: 0;
}

.user-icon img {
  width: 160px;
  height: 160px;
}

.user-details {
  height: 150px;
  margin: 4% auto;
  float: left;
  position: relative;
}

.user-details h1 {
  margin: 2% 0 0;
  font-size: 25px;
  line-height: 1;
}

.follower-count, .following-count {
  height: 70px;
  display: inline-block;
  position: relative;
  padding: 0;
  margin-right: 10%;
}


.h3count {
  margin: 1% auto 0;
  font-size: 36px;
}

.h3label {
  width: initial;
  letter-spacing: 0;
  margin: 0;
  bottom: 0;
  position: absolute;
  font-weight: lighter;
}

.posts-feed {
  height: auto;
  margin: 1% 11%;
}

.post-temp {
  margin: 1% auto;
  padding: 15px;
  border-radius: 5px;
  background-color: #FFFFFF;
  box-shadow: 0 1px 5px 1px grey;
}

.details, .icon-holder {
  display: inline-block;
  padding-left: 3%;
}

.icon-holder {
  top: -10px;
}

.details h1 {
  margin: 2% 0 0;
  font-size: 20px;
  line-height: 1;
}

.user-icon-sm {
  padding: 0;
  float: right;
}

.icon-holder img {
  width: 60px;
  height: 60px;
  float: right;
}

.post-buttons {
  width: 150px;
  height: 30px;
  padding: 0;
  position: relative;
  margin: 0;
  display: inline-block;
  float: right;
  padding-right: 3%;
}

.post-buttons a i {
  margin: 0 8%;
  font-size: 20px;
  float: right;
}

.post-text {
  margin: 0 20%;
  padding: 0;
}

.account {
  border: 2px solid #aaaaaa !important;
  border-radius: 50px;
  height: 45px;
  width: 45px !important;
  margin: 8% -28%;
}

.account-active {
  border: 2px solid #2EAABE !important;
  border-radius: 50px;
  height: 45px;
  width: 45px !important;
  margin: 8% -28%;
}

.profile-circle {
  width: 45px;
  height: 45px;
  border-radius: 50px;
  position: relative;
  top: -10px;
  left: -65px;
}

.dropdown-menu {
  left: -125px;
  top: 65px;
  position: absolute;
  display: none !important;
}

.active {
  color: #2EAABE !important;
  font-weight: bolder !important;
}
